version: "3.9"

services:
  accounts-service:
    build: .
    container_name: accounts-service
    ports:
      - "4000:4000"
    restart: always
    networks:
      - shared-net

networks:
  shared-net:
    external: true
    name: gateway_app-net
